<%= form_with(model: team) do |form| %>
  <h3>
    <div>
      <%= form.label :favorite %><br>
      <%= form.check_box :favorite, :class => 'checkbox_form_field' %>
    </div>

    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name, :class => 'small_form_field'%>
    </div>

    <div>
      <%= form.label :city %><br>
      <%= form.text_field :city, :class => 'small_form_field' %>
    </div>

    <div>
      <%= form.label :description %><br>
      <%= form.text_area :description, :class => 'big_form_field' %>
    </div>

    <div>
      <%= form.submit 'SUBMIT', :class => 'button form_button'%>
    </div>
  </h3>
  
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  </div>
<% end %>
