<h1>Editing Team</h1>

<%= form_with model: @team do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>  

  <div>
  	<%= form.submit %>
  </div>
<% end %>

<%= render 'form', team: @team %>

<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>
