<%= form_with(model: match) do |form| %>
  <h3>
    <div>
      <%= form.label :home_team_id %><br>
      <%= form.collection_select :home_team_id, Team.order(:name), :id, :name %>
    </div>

    <div>
      <%= form.label :away_team_id %><br>
      <%= form.collection_select :away_team_id, Team.order(:name), :id, :name %>
    </div>

    <div>
      <%= form.label :time %><br>
      <%= form.datetime_local_field :time, :class => 'time_form_field'  %>
    </div>

    <div >
      <%= form.label :location %><br>
      <%= form.text_field :location, :class => 'small_form_field' %>
    </div>

    <div>
      <%= form.label :home_team_score %><br>
      <%= form.number_field :home_team_score, min: 0, :class => 'small_form_field' %>
    </div>

    <div>
      <%= form.label :away_team_score %><br>
      <%= form.number_field :away_team_score, min: 0, :class => 'small_form_field' %>
    </div>

    <div>
      <%= form.label :description %><br>
      <%= form.text_field :description, :class => 'big_form_field' %>
    </div>

    <div>
      <%= form.submit 'SUBMIT', :class => 'button form_button' %>
    </div>
  </h3>
  
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
        <% match.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
  </div>
<% end %>
