<%= render "shared/header" %>

<div class="container">  
  <div class="spacer"></div>
  <div class="matches_container open_sans_font" style="padding-top: 50px;">
    <div class="top_container">
      <div class="title_container">
        <h1>UPCOMING MATCHES</h1>
      </div>
      <div class="button_container">
        <button class="button open_sans_font">
          <%= link_to 'NEW MATCH', new_match_path %>
        </button>
      </div>
    </div>
  </div>
  <div class="white_background">
    <div class="matches_container open_sans_font">
      <div class="calendar_container">
        <%= month_calendar(events: @matches_curr_month) do |date, matches_curr_month| %>
          <div class="date_text"><%= date.day %></div>
          <% matches_curr_month.each do |matches_curr_month| %>
            <p>
              <%= matches_curr_month.away_team.name %> @ <%= matches_curr_month.home_team.name %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="list_container">
        <table style="float: right">
          <thead>
            <tr>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody class="table_content">
            <% @matches.each do |match| %>
              <tr>
                <td class="table_spacing"><p><%= match.away_team.name %> @ <%= match.home_team.name %><p></td>
                <td class="table_spacing"><p><%= match.time %><p></td>
                <td class="edit_link"><p><%= link_to 'Edit', edit_match_path(match) %><p></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="matches_container open_sans_font" style="padding-top: 50px;">
    <div class="top_container">
      <div class="title_container">
        <h1>FAVORITE MATCHES</h1>
      </div>
    </div>
  </div>
  <div class="white_background">
    <div class="matches_container open_sans_font">
      <div class="calendar_container">
        <%= month_calendar(events: @favorite_matches) do |date, favorite_matches| %>
          <div class="date_text"><%= date.day %></div>
          <% favorite_matches.each do |favorite_matches| %>
            <p>
              <%= favorite_matches.away_team.name %> @ <%= favorite_matches.home_team.name %>
            </p>
          <% end %>
        <% end %>
      </div>
      <div class="list_container">
      </div>
    </div>
  </div>
</div>
